<!-- The grid: four columns -->
<div class="row">
    <div class="column">
      <img src="assets/images/woods.jpg" alt="woods"  width="100%" height="80%" >
    </div>
    <div class="column">
      <img src="assets/images/nature.jpg" alt="nature" width="100%" height="80%" >
    </div>
    <div class="column">
      <img src="assets/images/forest.jpg" alt="forest" width="100%" height="80%" >
    </div>
    <div class="column">
      <img src="assets/images/village.jpg" alt="village"  width="100%" height="80%" >
    </div>
  </div>

  <div class="row">
    <div class="column">
      <img src="assets/images/woods.jpg" alt="woods"  width="100%" height="80%" >
    </div>
    <div class="column">
      <img src="assets/images/nature.jpg" alt="nature" width="100%" height="80%" >
    </div>
    <div class="column">
      <img src="assets/images/forest.jpg" alt="forest" width="100%" height="80%" >
    </div>
    <div class="column">
      <img src="assets/images/village.jpg" alt="village"  width="100%" height="80%" >
    </div>
  </div>
  
  





