<div class="about-section">
   <h1>Know More</h1>
   <p>Some text about who we are and what we do.</p>
</div> 
<div class="para">
<pre >
   As one of the very few profitable pure play internet companies in the country, 
   Info Edge is India’s premier online classifieds company in recruitment, matrimony,
    real estate, education and related services.
   Loperamide binds to the opiate receptor in the gut wall. Consequently, it inhibits the release of acetylcholine and prostaglandins,
   thereby reducing propulsive peristalsis, and increasing intestinal transit time. Loperamide increases the tone of the anal sphincter,
   thereby reducing incontinence and urgency.
   This medication is used to treat sudden diarrhea (including traveler's diarrhea). It works by slowing down the movement of the gut.
    This decreases the number of bowel movements and makes the stool less watery. Loperamide is also used to reduce the amount of discharge in patients who have undergone an ileostomy.
</pre>
</div>
 
 