
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #343f57;
    color: white;
  }
  pre{
      text-align: center;
      margin-top: 10%;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      color: blueviolet;
      font-size: large;
      
  }   .para{
     background-color: aqua;   
    }