<div class="about-section">
  <h1>WELCOME TO MY WORK</h1>
</div>

<div class="row">
  <div class="side"><h2>Its Me</h2>
    <div class="fakeimg" style="height:200px;"><img src="assets/images/logo.jpg"></div>
    <p>Select your item from the store....</p>
    <h3>PRODUCTS</h3>
    
    <div class="fakeimg" ><img src="assets/images/fake3.jpg"></div><br>
    <div class="fakeimg" ><img src="assets/images/fake2.jpg"></div><br>
    <div class="fakeimg" ><img src="assets/images/fake4.jpg"></div></div>
  
  
    <div class="main"><div class="main">
      <h2>Special offers</h2>
      <h5>Title description, Jun 20, 2021</h5>
      <div class="fakeimg1" style="height:400px;"><img src="assets/images/fake1.jpg"></div>
      <p>A special offer is a marketing term that refers to a unique opportunity for customers to save money or receive a special benefit, 
        product, or service. Special offers are hard-sell techniques designed to acquire customers and sales with incentives or through pressure.</p>
      <p>These are commonplace in the world of sales and marketing, and carry familiar language, such as, “Limited Time Only,” “Special Price,” and, of course, “Special Offer.”
        One major characteristic of special offers is that they impose limits and offer incentives. The limits can be a time frame or the number of units available, while incentives can be a low price or an additional perk.
         Marketers and advertisers often use special offers to grab customers’ attention and increase the conversion rate.</p>
      
  </div>
</div>
