<p>find works!</p>
<div class="">
    <section class="register">
        <div class="container">
            <div class="frm text-center">
                <input type="text" class="form-control" id="myInput" (keyup)="myFunc()"  placeholder="search...">
                <div id="tab">
                    <div class="a">aa</div>
                    <div class="a">bb</div>
                    <div class="a">cc</div>
                    <div class="a">dd</div>
                </div>
            </div>
        </div>
    </section>
</div>