<div style="text-align: center;" >
    <h2 style="margin-top: 10px;">Our services</h2>
    <p >
        In this modern world, the Internet has become essential to living, working and easily communicating with people,
         whether in the next room or on the other side of the world. Some important services provided by the Internet have become commonplace, 
         like email, the World Wide Web and easy, instant access to all types of information. These now common services allow people to become a part of the much bigger world. 
         Communication, education, e-commerce and unlimited access to information found on the Internet provide innumerable benefits.
    </p>
</div>



    
    




<div class="row">
    <div class="column">
       <p> <img src="assets/images/internet.jpg" alt="inter"></p>
    </div> 
    
    <div class="column">
    <div class="list">
      <h3 >Six Good Reasons Why the Internet Is Good</h3>
      <ul>
        <li>Sharing and the New Media</li>
        <li>You've Got Mail</li>
        <li>Social Networks</li>
        <li>Beyond the Bank</li>
        <li>The Sharing Economy</li>
        <li>Education</li>
      </ul>
    </div>
    </div>
</div>