// .list{
//     padding-left: 30%;
//     text-align:justify;
// }
// h2{
//     margin-top: 1px;
// }
//     h3{
//         margin-top: 10%;
//     }
    .column {
        //float: left;
        width: 50%;
        
      }
      
      /* Clear floats after the columns */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }
      .row{
          margin-top: 5%;
      }